@import '../../../styles/constants.less';

.input_field {
  display: flex;
  flex-direction: column;
  position: relative;
  //width: 100%;
  height: 100%;
  //padding: 0 1rem 1.5rem 1rem;
}

.input {
  position: absolute;
  font-family: 'Roboto', serif;
  width: 100%;
  height: 100%;
  padding: 0 @s_gap;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: @big_font_size;
  border: 0 solid @main_font_color_extra_light;
  color: @main_font_color_light;
  -webkit-text-fill-color: @main_font_color_light; //rewrite user Chrome agent CommonStyles
  background-color: white;

  &:focus {
    //border: 1px solid @checkbox_checked_color;
    //box-shadow: 0 0 1px 1px #00A9E0;
    outline: none;
  }
}

.input_bordered {
  input {
    font-size: 13px;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px #E9E9E9;
    border: 1px solid #AEAEAE;
    line-height: 16px;
    padding: 6px 10px 5px;

    &:focus {
      outline: none;
      border-color: #AEAEAE;
      box-shadow: inset 0 2px 2px #E9E9E9, 0 0 10px 0 rgba(73, 107, 125, 0.3);
    }
  }
}

.input_error {
  border: @xxxxs_border_radius solid @reject_action_color;
  box-shadow: none;
  border-radius: 4px;

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.input_field_error {
  position: absolute;
  top: 35px;
  color: @reject_action_color;
  font-size: @middle_font_size;
}

.autocomplete_section {
  top: 40px;
  position: relative;
  z-index: 150;
  background-color: @white_color;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.autocomplete_item {
  border-radius: @xxxs_border_radius;
  font-size: 1rem;
  border: 0 solid @main_font_color_extra_light;
  color: @button_disabled_color;
  font-family: @main_font;
  padding: @l_gap 0 @l_gap @l_gap;

  &:hover {
    background: @hover_focused_color_ligher;
    cursor: pointer;
    color: @white_color;
  }

  b {
    font-weight: 600;
    color: @hover_selected_color;
  }
}
