@import '../../../pages/ItemsPage/ItemsPage.less';

[data-react-beautiful-dnd-droppable] {
  font-family: @main_font;
}

.table {
  border-collapse: collapse;
  min-width: 500px;
  width: 100%;
  overflow: auto;
  display: flex;

  & > div:first-child {
    position: sticky;
    left: 0;
  }
}
