@import '../../../styles/constants';

.input {
  position: absolute;
  left: -9999px;
}

.label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666666;
}

.label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 100%;
  background: #FFFFFF;
}

.label::after {
  content: '';
  width: 10px;
  height: 10px;
  background: #0345A1;
  position: absolute;
  top: 2.2px;
  left: 2.3px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.label_unchecked::after {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.label_checked::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

//.label {
//  display: inline-block;
//  height: 14px;
//  position: relative;
//  padding: 4px 25px;
//  padding-right: 0;
//  cursor: pointer;
//  vertical-align: bottom;
//
//  &::before,
//  &::after {
//    position: absolute;
//    content: '';
//    border-radius: 50%;
//    transition: all 0.3s ease;
//  }
//
//  &::before {
//    left: 0;
//    top: 0;
//    width: 14px;
//    height: 14px;
//    border: 1px solid black;
//  }
//
//  &::after {
//    top: 3px;
//    left: 3px;
//    width: 10px;
//    height: 10px;
//    transform: scale(0);
//    background: #0345A1;
//  }
//}

.extra_info {
  display: inline-block;
  color: #DCDCDC;
  font-size: 11px;
  font-style: italic;
  margin-left: 5px;
}

.wrapper {
  margin-left: 5px;
  width: 180px;
}
