.reset_style {
  pointer-events: auto;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;

  &::before,
  &::after {
    content: none;
  }
}

.customize {
  pointer-events: auto;
  visibility: unset;
  position: relative;
  top: auto;
  left: auto;
  font-weight: bold;
  font-size: 11px;
  max-width: 500px;
}
