@import '../../../styles/constants';

.section {
  display: flex;
  width: 15px;
  height: 15px;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
  margin-left: 5px;
}

.indicator {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: @checkbox_color;
  border: 1px solid @checkbox_border_color;
  border-radius: 2px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    display: none;
    top: 1px;
    left: @xs_gap;
    width: 4px;
    height: 7px;
    border: solid @white_color;
    border-width: 0 @xxxs_border_radius @xxxs_border_radius 0;
    transform: rotate(45deg);
  }
}

.section.s {
  width: 12px;
  height: 12px;

  & .indicator::after {
    bottom: @xxxxss_gap;
    left: @xsss_gap;
    width: 3px;
    height: 5px;
  }
}

.agreement {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  color: #9BA0AC;
  font-size: 12px;
  line-height: 18px;

  &:hover .indicator {
    background: @checkbox_hovered_color;
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: none;
  }

  input:checked ~ .indicator {
    background: @checkbox_checked_color;
  }

  input:disabled ~ .indicator {
    background: @checkbox_color;
    opacity: 0.8;
    pointer-events: none;
  }

  input:checked:focus ~ .indicator,
  &:hover input:not([disabled]):checked ~ .indicator {
    background: @checkbox_checked_and_hovered_color;
  }

  input:checked ~ .indicator::after {
    display: block;
  }

  input:disabled ~ .indicator::after {
    border-color: @checkbox_border_color;
  }
}

.label {
  padding-left: @xl_gap;
  white-space: nowrap;
}
