@import '../../../styles/constants';

.title {
  color: #0345A1;
  font-size: 16px;
  margin-bottom: 5px;
  cursor: pointer;
  display: inline-block;
  max-width: 220px;
  overflow-wrap: break-word;
}

.section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding-bottom: 8px;
}

.header_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.arrow {
  padding: @xsss_gap @xsss_gap;
  font-size: @xm_gap;
  color: #0345A1;
  cursor: pointer;
  float: right;
}

.icon {
  width: 10px;
  height: 10px;
  fill: currentColor;
}

.clear_selections_icon {
  width: 15px;
  height: 15px;
  fill: #333333;
  cursor: pointer;
  margin-left: @l_gap;
}

.less_used_values_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &_label {
    margin-right: @s_gap;
  }
}
