html {
  font-size: 12px;
  font-family: 'Roboto', serif;
}

.__react_component_tooltip {
  opacity: 1 !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}
